@import url(./_hidden/navigation_hidden.css);
@import url(./__link/navigation__link.css);
@import url(./__link/_active/navigation__link_active.css);
@import url(./__links-container/navigation__links-container.css);
@import url(./__container/navigation__container.css);
@import url(./__profile-button/navigation__profile-button.css);
@import url(./__close-button/navigation__close-button.css);
@import url(./__background/navigation__background.css);
@import url(./__background/_active/navigation__bacground_active.css);

.navigation {
    height: 74px;
    padding-right: 70px;
    padding-left: 70px;
    background-color: white;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}

@media screen and (min-width: 550px) and (max-width: 1024px) {
    .navigation {
        padding-right: 30px;
        padding-left: 30px;
    } 
}

@media screen and (max-width: 550px) {
    .navigation {
        padding-right: 14px;
        padding-left: 14px;
    } 
}

