@import url(./__container/profile__container.css);
@import url(./__form/profile__form.css);
@import url(./__title/profile__title.css);
@import url(./__input-container/profile__input-container.css);
@import url(./__input/profile__input.css);
@import url(./__input-name/profile__pinput-name.css);
@import url(./__form-container/profile__form-container.css);
@import url(./__edit-button/profile__edit-button.css);
@import url(./__edit-button/_disable/profile__edit-button_disable.css);
@import url(./__exit-button/profile__exit-button.css);
@import url(./__input-error/profile__input-error.css);
@import url(./__input-error/_active/profile__input-error_active.css);
@import url(./__block/profile__block.css);

.profile {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
}
