.section__text {
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0px;
}

@media screen and (min-width: 550px) and (max-width: 1024px) {
    .section__text {       
        font-size: 12px;
        line-height: 18px;
    }
}

@media screen and (max-width: 550px) {
    .section__text {
        font-size: 11px;
        line-height: 16px;
    }
}