.logo_place_nav {
    margin-right: 62px;
}

@media screen and (max-width: 1024px){
    .logo_place_nav {
        visibility: hidden;
        display: none;
    }
}


.logo_place_nav:hover {
    opacity: 0.6;
    transition: opacity 1s ease-out;
    cursor: pointer;
}