@import url(./_hidden/menu-button_hidden.css);

.menu-button {
    background-image: url(../../images/menu-button.svg);
    background-position: center;
    background-size: auto;
    background-color: transparent;
    width: 44px;
    height: 44px;
    cursor: pointer;
    border: none;
}

.menu-button:hover {
    opacity: 0.6;
    transition: opacity 1s ease-out;
    cursor: pointer;
}

@media screen and (min-width: 1024px) {
    .menu-button {
        visibility: hidden;
        display: none;
    }

    .menu-button:hover {
        cursor: auto;
        transition: none;
        opacity: 1;
    }
}