.search-form__input {
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0px;
    text-align: left;
    border: none;
    width: 100%;
    outline: none;
}