.profile__edit-button {
    border: none;
    background: white;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: center;
    margin: 0 auto 16px;
}

@media screen and (max-width: 550px) {
    .profile__edit-button {
        font-size: 12px;
        line-height: 15px;
    }
}

.profile__edit-button:hover {
    opacity: 0.6;
    transition: opacity 1s ease-out;
    cursor: pointer;
}