.about-me__links-container {
    display: flex;
    justify-content: space-between;
    margin: auto auto 0px 0px;
    height: auto;
    list-style: none;
    padding: 0px;
    align-items: center;
}

@media screen and (max-width: 700px) {
    .about-me__links-container {
        margin-top: 40px;
    }
}
