@import url(./__text/footer__text.css);
@import url(./__copyright/footer__copyright.css);
@import url(./__info-container/footer__info-container.css);
@import url(./__links-container/footer__links-container.css);
@import url(./__link/footer__link.css);

.footer {
    padding: 80px 70px 20px;
}

@media screen and (min-width: 550px) and (max-width: 1024px) {
    .footer{
        padding-right: 30px;
        padding-left: 30px;
    }
}

@media screen and (max-width: 550px) {
    .footer{
        padding-right: 10px;
        padding-left: 10px;
        padding-bottom: 10px;
    }
}