.promo__button {
    background-color: transparent;
    text-align: center;
    height: 36px;
    width: 129px;
    border-radius: 3px;
    border: 1px solid #000000;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0px;
    color: rgba(0, 0, 0, 1);
    cursor: pointer;
    text-decoration: none;
    vertical-align: middle;
}


.promo__button:hover {
    opacity: 0.6;
    transition: opacity 1s ease-out;
}
