.profile__input-name {
    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0px;
    text-align: left;
    width: auto;
    margin: 0;
}