.about-project__column {
    max-width: 550px;
    display: grid;
    grid-row-gap: 26px;
    justify-items: start;
}


@media screen and (min-width: 578px) and (max-width: 892px) {
    .about-project__column {
        grid-row-gap: 22px;
    }
}

@media screen and (max-width: 578px) {
    .about-project__column {
        width: 100%;
        grid-row-gap: 16px;
    }
}