.movies-cardlist__more-button {
    width: 75%;
    max-width: 320px;
    height: 36px;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0px;
    text-align: center;
    background: rgba(249, 249, 249, 1);
    border-radius: 6px;
    margin: 50px auto 80px;
    border: none;
    display: block;

}

.movies-cardlist__more-button:hover {
    opacity: 0.6;
    transition: opacity 1s ease-out;
    cursor: pointer;
}