.navigation__links-container {
    width: 212px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1024px) {
    .navigation__links-container{
        flex-direction: column;
        height: 115px;
        align-items: center;
        margin-top: 159px;
    }  
}

@media screen and (max-width: 550px) {
    .navigation__links-container{
        margin-top: 144px;
    }  
}
