@import url(./__container/auth-page__container.css);
@import url(./__form-container/auth-page__form-container.css);
@import url(./__form/auth-page__form.css);
@import url(./__input/auth-page__input.css);
@import url(./__redirect-container/auth-page__redirect-container.css);
@import url(./__redirect-span/auth-page__redirect-span.css);
@import url(./__redirect-span/_link/auth-page__redirect-span_link.css);
@import url(./__save-button/auth-page__save-button.css);
@import url(./__title/auth-page__title.css);
@import url(./__placeholder/auth-page__placeholder.css);
@import url(./__input-error/auth-page__input-error.css);
@import url(./__input-error/_active/auth-page__input-error_active.css);

.auth-page {
    background-color: white;
    display: flex;
    width: 100vw;
    height: 100vh;
}
