@import url(./__container/search-form__container.css);
@import url(./__button/search-form__button.css);
@import url(./__input/search-form__input.css);

.search-form {
    padding: 70px 70px 47px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

@media screen and (min-width: 550px) and (max-width: 1024px) {
    .search-form {
        padding: 80px 30px 60px;
        align-items: flex-end;
    } 
}

@media screen and (max-width: 550px) {
    .search-form {
        padding: 90px 14px 50px;
        align-items: center;
    } 
}