@import url(./__link/header__link.css);
@import url(./__link/_signup/header__link_signup.css);
@import url(./__link/_signin/header__link_signin.css);
@import url(./__links-container/header__links-container.css);
@import url(./__links-container/_hidden/header__links-container_hidden.css);

.header {
    height: 74px;
    padding-right: 70px;
    padding-left: 70px;
    background-color: rgba(243, 193, 248, 1);
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}

@media screen and (min-width: 550px) and (max-width: 1024px) {
    .header {
        padding-right: 30px;
        padding-left: 30px;
    } 
}

@media screen and (max-width: 550px) {
    .header {
        padding-right: 14px;
        padding-left: 14px;
    } 
}