@import url(./__container/not-found__container.css);
@import url(./__error-container/not-found__error-container.css);
@import url(./__link/not-found__link.css);
@import url(./__text/not-found__text.css);
@import url(./__error-code/not-found__error-code.css);

.not-found {
    width: 100vw;
    height: 100vh;
    display: flex;
}
