.about-me__link {
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    margin-right: 20px;
    text-decoration: none;
    color: rgba(0, 0, 0, 1);

}

.about-me__link:hover {
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 1s ease-out;
  }